@model Entities.Concrete.User

<div class="nav-profile-image">
    <img src="@Model.ImageUrl" alt="profile">
    <span class="login-status online"></span>
</div>
<div class="nav-profile-text d-flex flex-column">
    <span class="mb-2">@Model.FirstName @Model.LastName</span>
</div>
<i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
